

						<div class="brands_products"><!--brands_products-->
							<h2>Panier</h2>
							<div class="brands-name">
								<ul class="nav nav-pills nav-stacked">
            
                  <li>
                        <a href="{{ path('panier') }}">
                            {% if articles == 0 %}
                                Aucun article dans votre panier
                            {% elseif articles == 1 %}
                                1 article dans votre panier
                            {% else %}
                                {{ articles }} articles dans votre panier
                            {% endif %}
                        </a>
                    </li>
                </ul>

							</div>
						</div><!--/brands_products-->
